<section>
  <h2 class="lead">Recent status history</h2>
  <dl id="history">
    <% @system_status.recent_messages_grouped_by_day.each do |day, messages| %>
      <%= render partial: 'day', locals: { day: day, messages: messages } %>
    <% end %>
  </dl>
</section>
