<dd class="message clearfix">
  <div class="timestamp muted pull-left"><%= message.created_at.strftime("%R %Z") %></div>
  <div class="body <%= message_body_text_class(message) %> pull-left"><%= message.body %></div>
</dd>